<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Block access to sensitive files and directories
    RewriteRule ^(\.env|\.git|composer\.json|composer\.lock|package\.json|package-lock\.json|README\.md) - [F,L,NC]

    # Forward all requests to the public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
